<!--<hello name="{{ name }}"></hello> !-->

<div>
  <ul>
    <li *ngFor="let b of carBrands">
      <input
            #brand
            [checked]="b.ischecked"
            (click)="getSelected(b, b.ischecked = !b.ischecked)"
            value="b.ischecked"
            type="radio"
            name="brand"
          />
      <label [for]="b.name">{{ b.name }}</label>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li *ngFor="let c of carColors; let i=index;">
      <input type="radio" [value]="false" name="colors">
      <label [for]="c.name">{{c.name}}</label>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li *ngFor="let t of carTires; let i=index;">
      <input type="radio" [value]="false" name="tires">
      <label [for]="t.name">{{t.name}}</label>
    </li>
  </ul>
</div>


<div>
  <input class="not-focus"  type="text" placeholder="Name">
</div>