<!--<hello name="{{ name }}"></hello> !-->

<!-- <div>
  <ul>
    <li *ngFor="let b of carBrands">
      <input [checked]="b.ischecked" (click)="getSelected(b, 'brand', b.ischecked = !b.ischecked)"
            type="radio"
            name="brand"
          />
      <label [for]="b.name">{{ b.name }}</label>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li *ngFor="let c of carColors; let i=index;">
      <input (click)="getSelected(c,'color',c.ischecked = !c.ischecked)" [checked]="c.ischecked" type="radio" name="colors">
      <label [for]="c.name">{{c.name}}</label>
    </li>
  </ul>
</div>

<div>
  <ul>
    <li *ngFor="let t of carTires; let i=index;">
      <input (click)="getSelected(t,'tire',t.ischecked = !t.ischecked)" type="radio" name="tires">
      <label [for]="t.name">{{t.name}}</label>
    </li>
  </ul>
</div> !-->

{{ order | json }}